<div class="card mx-4 mt-5 cartaT" style="width: 18rem;">
    <img src="{{imgpeq}}" class="card-img-top carta-pequeña" alt="...">
    <img src="{{img}}" class="card-img-top imgG" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text"><s class="textG">{{descuento}}</s> {{descuento_2}} </p>
        <p class="card-text"><strong>{{descripcion}}</strong></p>
        <p class="card-text descripcionR"> <strong>{{descripcion_r}}</strong><img src="{{imgCMR}}" class="card-img-top imgCMR" alt="..."></p>
        <p class="card-text prom"> {{promocion}} </p>
    </div>
</div>