
<div class="d-flex">
    <app-tarjeta title="Todo en uno Hp Intel core i3 1215U - 8GB SSD 256GB - Freedos - Negro"
        imgpeq="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
        img="https://i.linio.com/p/3ba6bce43a3948defb9fc2709dc7709e-catalog.webp" descuento="2.380.000"
        descuento_2="-48%"
        descripcion="1.985.900"
        descripcion_r="1.885.900"
        imgCMR="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUf0b4PFMN58s9EJPcKY_HQarpn74HsJxltg&usqp=CAU"
        promocion="Promocionado"></app-tarjeta>
    <app-tarjeta title="AIO LENOVO IdeaCentre 3 24ADA6 Athlon 3050U SSD 256GB 4GB 23.8"
        imgpeq="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
        img="https://i.linio.com/p/144dc8382b420529b47214ce454fcd3a-catalog.webp" descuento="1.599.990"
        descuento_2="-54%"
        descripcion="1.347.900"
        descripcion_r="1.257.900"
        imgCMR="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUf0b4PFMN58s9EJPcKY_HQarpn74HsJxltg&usqp=CAU"
        promocion="Promocionado"></app-tarjeta>
    <app-tarjeta title="Todo en uno Hp Intel core i3 1215U 16GB SSD 256GB - Freedos - Negro"
        imgpeq="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
        img="https://i.linio.com/p/c3568ef3fb0b43469bb0224d2b450055-catalog.webp" descuento="2.789.000"
        descuento_2="-33%"
        descripcion="2.399.900"
        descripcion_r="2.279.900"
        imgCMR="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUf0b4PFMN58s9EJPcKY_HQarpn74HsJxltg&usqp=CAU"
        promocion="Promocionado"></app-tarjeta>
    <app-tarjeta title="TODO EN UNO DELL INTEL CORE I5-1235U SSD 2TB + HDD 1TB RAM 40GB LED "
        imgpeq="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png"
        img="https://i.linio.com/p/f217632c10e4c03febc3ae7b3a3c2f54-catalog.webp" descuento="2.679.800"
        descuento_2="-32%"
        descripcion="3.939.900"
        descripcion_r="3.689.900"
        imgCMR="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUf0b4PFMN58s9EJPcKY_HQarpn74HsJxltg&usqp=CAU"
        promocion="Promocionado"></app-tarjeta>
</div>