<div class="card d-flex mx-auto mt-5" style="width: 40rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Iniciar Sesion</h5>
        <form class="a">
            <div class="d-flex mt-3">
                <div class="mb-3 email">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="name@example.com">
                </div>
                <div class="mb-3 pass">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
            </div>
    </form>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="col-12  w-100 d-flex justify-content-center">
        <button type="submit" class="btn btn-custome bt-i w-100">Iniciar Sesion</button>
    </div>

    <div class="link-r mt-3">
        <a routerLink="/registro" class="card-link"><strong>Crear Cuenta</strong></a>
        <a href="#" class="card-link"><strong>Olvide tu contraseña</strong></a>
    </div>
</div>