<h3 class="d-flex  justify-content-center mt-3">CARRITO DE COMPRAS</h3>
<hr>
<div class="container">
    <div class="producto">
        <div class="Header">
            <img class="pc" src="https://i.linio.com/p/abbb975fdfd532868394a6be80d51bb2-product.webp" alt="">
        </div>
        <div class="d-flex titulo">
            <div>
                <h5>Todo En Uno AIO Hp Celeron J4025 8gb 256gb 22 Fhd Dd2005la</h5>
                <p>NUEVO</p>
            </div>
            <div class="precios">
                <div class="descuento">
                    <s style="color: rgba(0, 0, 0, .5);">$2.399.000</s>
                    <p style="font-size: 13px;">- 55%</p>
                </div>
                <strong>$1.089.000</strong>
                <strong style="color: rgb(180, 32, 32);">$1.019.000 </strong>
            </div>
            <div class="envio">
                <div class="etruck d-flex column-gap-2 align-items-center">
                    <div class="truck">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="rgb(255,255,255)"
                            class="bi bi-truck" viewBox="0 0 16 16">
                            <path
                                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                        </svg>
                    </div>
                    <p>Recibelo gratis entre el 27 al 28 de noviembre</p>
                </div>
                <p> Enviado y Vendido por TECNO PLAZA</p>
            </div>
            <div class="link">
                <a href=""><strong>Guardar para despues</strong></a>
                <a href=""><strong>Eliminar</strong></a>
            </div>
        </div>
    </div>
    <div class="formato-pago">
        <div class="info">
            <h6>RESUMEN DE TU PEDIDO</h6>
            <hr>
            <div class="envio-g">
                <p>Subtotal (1)</p>
                <strong class="d-flex justify-content-end" style="color:rgb(180, 32, 32) ;">$1.078.000</strong>
            </div>
            <hr>
            <div class="envio-g">
                <p class="justify-content-start">Envio</p>
                <strong class="text-md-end">Envio Gratis</strong>
            </div>
            <hr>
            <div class="envio-g">
                <p>36 pagos de:</p>
                <strong class=" d-flex justify-content-end">29.944</strong>
            </div>
            <hr>
            <a style="color: chocolate;" href="">Calcular Envio</a>
            <hr>
            <a style="color: chocolate;" href="">Aplicar Cupon</a>
            <hr>
            <div class="envio-g d-flex justify-content-between">
                <div class="d-flex align-items-center column-gap-1">
                    <p>CMR puntos</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                    </svg>
                </div>
                <strong class="d-flex justify-content-end" style="width: 60px">1.039</strong>
            </div>
            <hr>
            <div class="envio-g">
                <strong>TOTAL</strong>
                <strong style="color: rgb(180, 32, 32);">$1.078.000</strong>
            </div>
            <hr>
            <div class="w-100 d-flex justify-content-center">
                <button type="button" class="btn btn-custome btn-md boton-c">Procesar Compra</button>
            </div>
        </div>
    </div>
</div>